.btn {
    border-radius: 25px;
    border: transparent;
    background: transparent linear-gradient(270deg, #A6C631 0%, #6FC84A 100%) 0% 0% no-repeat padding-box;
    padding: 10px 90px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 10px 20px #70C84A80;
    &:hover {
        color: #fff;
    }
}