footer {
    background-color: #29292A;
    .footer-title {
        color: $color-subtext;
        font-weight: 200;
    }
    .footer-mail {
        text-decoration: none;
        color: #9CC255;
        font-weight: 200;
        font-size: 16px;
    }
    .single-menu-wrapper {
        list-style: none;
        .menu-title {
            text-transform: uppercase;
            font-weight: 200;
            font-size: 14px;
            color: $color-subtext;
            margin: 0;
            @media(max-width: $mobile-breakpoint) {
                text-align: center
            }
        }
        .menu {
            padding: 0;
            li {
                text-transform: capitalize;
                display: flex;
                margin: 15px 0;
                font-size: 12px;
                cursor: pointer;
                @media(max-width: $mobile-breakpoint) {
                    justify-content: center;
                    margin: 20px 0;
                }
                a {
                    text-decoration: none;
                    color: #9CC255;
                    font-weight: 200;
                }
            }
        }
    }
    .footer-social {
        width: 22px;
        height: 22px;
    }
    .footer-social-sentence {
        text-transform: uppercase;
        color: $color-subtext;
        font-weight: 200;
        font-size: 13px;
    }
    .btn {
        box-shadow: none;
    }
    .copy-right {
        color: $color-subtext;
        font-weight: 200;
        font-size: 12px;
    }
}