$mobile-breakpoint: 768px;
$hamburger-size: 35px;
.core-nav {
    width: 100%;
    background: #fff;
    min-height: 51px;
    position: fixed;
    z-index: 5;
    .menu {
        display: flex;
        align-items: center;
        justify-content: flex-between;
        padding: 0;
        margin: 0;
        list-style: none;
        z-index: 5;
        @media(max-width: $mobile-breakpoint) {
            width: 100%;
            display: block !important;
            margin: 0;
            background-color: #fff;
            position: fixed;
            top: 105px;
            left: 0;
            transform: translateX(-200%);
            transition: .8s transform;
            height: 100vh;
        }
        li {
            display: flex;
            margin: 0 15px;
            font-size: 12px;
            cursor: pointer;
            @media(max-width: $mobile-breakpoint) {
                justify-content: center;
                margin: 20px 0;
            }
            a {
                text-decoration: none;
                color: $color-text;
                text-transform: uppercase;
                font-size: 13px;
                &:hover {
                    color: $color-green;
                }
            }
        }
        .log-in {
            a {
                font-weight: bold;
            }
        }
        .submmit-btn {
            border-radius: 25px;
            background: transparent linear-gradient(270deg, #A6C631 0%, #6FC84A 100%) 0% 0% no-repeat padding-box;
            padding: 5px 20px;
            box-shadow: 0px 10px 20px #70C84A80;
            @media(max-width: $mobile-breakpoint) {
                border-radius: 0px;
            }
            a {
                text-transform: uppercase;
                color: #fff;
                font-weight: bold;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    .nav-hamburger {
        display: none;
        cursor: pointer;
        width: $hamburger-size;
        @media(max-width: $mobile-breakpoint) {
            display: block;
        }
        span {
            display: block;
            height: 2px;
            position: relative;
            width: 100%;
            &:after {
                content: '';
                height: 2px;
                background: $color-text;
                display: block;
                position: absolute;
                right: 0;
                transition: all .3s ease;
            }
        }
        span:nth-child(2) {
            margin: 9px 0;
        }
        span:nth-child(1):after {
            width: $hamburger-size - 5px;
        }
        span:nth-child(2):after {
            width: $hamburger-size;
        }
        span:nth-child(3):after {
            width: $hamburger-size - 15px;
        }
        &:hover {
            span:after {
                width: $hamburger-size;
            }
        }
        &.open {
            span:after {
                width: 35px;
                background: $color-green;
            }
            span:nth-child(1):after {
                transform: translateY(11px) rotateZ(45deg);
            }
            span:nth-child(2):after {
                width: 0;
                transform: translateX( - (35px / 2));
            }
            span:nth-child(3):after {
                transform: translateY(-11px) rotateZ(-45deg);
            }
        }
    }
}

@keyframes ghost {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body.menu-open {
    overflow: hidden;
    #menu-main-menu {
        transform: translateY(0) !important;
        transition: .5s transform;
        animation: ghost 1s forwards;
    }
}