$mobile-breakpoint: 768px;
// Section Main
.main {
    padding: 150px 0 0;
    @media(max-width: $mobile-breakpoint) {
        padding: 100px 0 0;
    }
    .section-title-bold {
        font-size: 74px;
        @media(max-width: $mobile-breakpoint) {
            font-size: 45px;
        }
    }
    .section-title-light {
        font-size: 74px;
        font-weight: 200;
        @media(max-width: $mobile-breakpoint) {
            font-size: 45px;
        }
    }
    .section-description {
        font-size: 22px;
        font-weight: 200;
        color: $color-subtext;
        line-height: 1.7;
        @media(max-width: $mobile-breakpoint) {
            font-size: 17px;
        }
    }
    .top-img {
        width: 120%;
        @media(max-width: $mobile-breakpoint) {
            display: none;
        }
    }
}

// Section Testimonials
.single-slide {
    position: relative;
    overflow: hidden;
    margin: 80px;
    border-radius: 25px;
    box-shadow: 0px 10px 20px #98989880;
    max-height: 365px;
    @media(max-width: $mobile-breakpoint) {
        margin: 25px 10px;
        max-height: auto;
    }
    .quote-img {
        position: absolute;
        top: -20px;
        left: 5px;
        @media(max-width: $mobile-breakpoint) {
            top: -20px;
            left: -3px;
            width: 30%;
        }
    }
    .person-img {
        position: relative;
        top: -30px;
        @media(max-width: $mobile-breakpoint) {
            top: -90px;
            width: 52%;
        }
    }
    .quote {
        font-size: 22px;
        font-weight: 200;
        color: $color-subtext;
        line-height: 1.7;
        @media(max-width: $mobile-breakpoint) {
            font-size: 15px;
        }
    }
    .name {
        font-size: 18px;
        color: $color-green;
        @media(max-width: $mobile-breakpoint) {
            font-size: 14px;
        }
    }
    .position {
        font-size: 16px;
        color: $color-subtext;
        line-height: 1.7;
        @media(max-width: $mobile-breakpoint) {
            font-size: 14px;
        }
        span {
            color: $color-subtext;
            line-height: 1.7;
            font-weight: 200;
            @media(max-width: $mobile-breakpoint) {
                display: block;
            }
        }
    }
}

.slick-next {
    right: 20px;
}

.slick-prev {
    left: -10px;
}

.slick-prev:before,
.slick-next:before {
    font-family: auto;
    font-size: 50px;
    line-height: 1;
    opacity: .75;
    color: #BCC5C5;
}

// Section Benefits
.benefits {
    .benefit-title {
        color: $color-text;
        font-weight: 200;
    }
    .benefit-description {
        color: $color-subtext;
        line-height: 1.7;
        font-size: 16px;
        font-weight: 200;
        text-align: center;
    }
}

// Section Services
.services {
    box-shadow: 0px 5px 40px #00000026;
    overflow-x: hidden;
    .serv-title-bold {
        font-size: 48px;
        color: $color-text;
        font-weight: bold;
        @media(max-width: $mobile-breakpoint) {
            font-size: 35px;
        }
        .serv-title-light {
            display: block;
            font-weight: 200;
        }
    }
    .serv-desc-title {
        font-size: 22px;
        color: $color-text;
        @media(max-width: $mobile-breakpoint) {
            font-size: 19px;
        }
    }
    .serv-desc {
        font-size: 16px;
        color: $color-subtext;
        line-height: 1.7;
        font-weight: 200;
        @media(max-width: $mobile-breakpoint) {
            font-size: 13px;
        }
    }
    .serv-img {
        width: 130%;
        position: relative;
        @media(max-width: $mobile-breakpoint) {
            width: 100%;
        }
        &.to-left {
            left: -40px;
            @media(max-width: $mobile-breakpoint) {
                left: 0;
            }
        }
        &.to-right {
            right: -50px;
            @media(max-width: $mobile-breakpoint) {
                right: 0;
            }
        }
    }
}

// Section Article
.article {
    background-color: #FAFBFB;
    .section-title-bold {
        font-size: 48px;
        color: $color-text;
        font-weight: bold;
        @media(max-width: $mobile-breakpoint) {
            font-size: 35px;
        }
        .section-title-light {
            font-weight: 200;
        }
    }
    .single-article-wrapper {
        padding: 35px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 5px 40px #00000026;
    }
    .sneak-peak {
        font-size: 16px;
        color: $color-subtext;
        line-height: 1.7;
    }
    .read-more {
        text-decoration: none;
        color: $color-green;
        font-size: 16px;
    }
}

// Section Newsletter
.newsletter {
    background-color: #fff;
    .news-title-bold {
        font-size: 48px;
        @media(max-width: $mobile-breakpoint) {
            font-size: 45px;
        }
        .news-title-light {
            display: block;
            font-weight: 200;
        }
    }
    form {
        .form-group {
            width: 100%;
            input {
                padding: 20px 42% 20px 20px;
                background: #F7F7F7 0% 0% no-repeat padding-box;
                border: 1px solid #ECEEEE;
                border-radius: 30px;
                @media(max-width: $mobile-breakpoint) {
                    padding: 20px;
                }
            }
        }
        .submit-wrapper {
            position: absolute;
            @media(max-width: $mobile-breakpoint) {
                position: relative;
            }
        }
    }
}